
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body
{
  background-color:#fefae0;
}
.blockquote
{
  color:#003049;
  font-size: 2.25rem!important;
}
.Animate
{
  
  width:85%;
  margin:auto;
  margin-top: 30px;
  padding:auto;
}
.Animate img
{
  height:500px;
}
.Buttondes
{
  width:80%;
}

.navbar a
{
  color:white;
  text-decoration: none;
}
.navbar a:hover
{
  color:pink;
}
.navbar img
{
  width:60px;
}

.cent
{
  text-align: center;
}
  .foot
{
  margin-top: 100px;
}
.sizeimg img
{
  width:70%;
  height:50%;
  margin-left: 50px;
}
.sizeimg1 img
{
  width:100%;
  height:1000%;
  margin-left: 50px;
}
.centt
{
  margin-top: 10px;
  text-align:center;
  font-size: 1.2rem;;
}
@media (max-width: 768px){
  .rowstyle {
      display: flex;
      flex-direction: column !important;
  }
} 