
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body
{
  background-color:#fefae0;
  min-height: 100vh;
}
.blockquote
{
  color:#003049;
  font-size: 2.25rem!important;
}
.Animate
{
  
  width:85%;
  margin:auto;
  margin-top: 30px;
  padding:auto;
}
.Animate img
{
  height:500px;
}
.Buttondes
{
  width:80%;
}

.navbar a
{
  color:white;
  text-decoration: none;
}
.navbar a:hover
{
  color:pink;
}
.navbar img
{
  width:60px;
}

.cent
{
  text-align: center;
}

.foot
{
  margin-top: 100px;
}
/* .cont img
{
    width: 150px;
    height:150px;
} */
.butt
{
  margin-top: 50px ;
  width:40%;
  height:50%;
}
.butt img
{
  width:5%;
}
.sizeimg img
{
  width:70%;
  height:50%;
  margin-left: 50px;
}
.sizeimg1 img
{
  width:70%;
  height:50%;
  margin-top:20px;
  margin-left: 50px;
}
.centt
{
  margin-top: 10px;
  text-align:center;
  font-size: 1.2rem;
}
.maps
{
  margin-top: 30px;
  flex-direction: column;
  
}
@media (max-width: 768px){
  .rowstyle {
      display: flex;
      flex-direction: column !important;
  }
} 